<!DOCTYPE html>
<html>
<head>
	<title>大厨到家-我的评价</title>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="<?php echo base_url();?>application/" />
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="skin/img/LOGO-ug_03.png">
    <link rel="stylesheet" href="skin/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="skin/css/home.css">

</head>
<body>
<div class="header">
    <div class="center">
      <ul class="clear">
        <li><a href="<?=site_url('welcome/personal');?>">我的订单</a></li>
        <li><a href="<?=site_url('welcome/personal');?>">我的大厨</a></li>
        <li><a href="<?=site_url('welcome/personal');?>">联系我们</a></li>
        <li><a href="<?=site_url('welcome/car');?>">购物篮</a></li>
        <li><a href="<?=site_url('welcome/login');?>">登录</a>/<a href="<?=site_url('welcome/register');?>">注册</a></li>
      </ul>
    </div>
</div>
  <div class="content">
      <div class="center">
        <div class="content-tit clear">
          <ul class="clear">
            <li><a href="<?=site_url('welcome/add');?>">所有商品</a></li>
            <li><a href="<?=site_url('welcome/custom');?>">宴会定制</a></li>
            <li><a href="<?=site_url('welcome/price');?>">实时菜价</a></li>
          </ul>
        </div>
      <div class="personal clear">
          <div class="per-pl">
            <div class="per-nav">
              <h1><a href="<?=site_url('welcome/personal');?>" class="active">我的主页</a></h1>
            </div>
            <div class="per-nav">
              <h1>订单中心</h1>
              <ul>
                  <li><a href="<?=site_url('welcome/myorder');?>">我的订单</a></li>
                  <li><a href="<?=site_url('welcome/collection');?>">我的收藏</a></li>
                  <li><a href="<?=site_url('welcome/appraise');?>" class="active">我的评价</a></li>
                  <li><a href="<?=site_url('welcome/back');?>">我的退款</a></li>
              </ul>
            </div>
            <div class="per-nav">
              <h1>我的账户</h1>
              <ul>
                  <li><a href="<?=site_url('welcome/balance');?>">我的余额</a></li>
                  <li><a href="<?=site_url('welcome/coupon');?>">优惠劵</a></li>
                  <li><a href="<?=site_url('welcome/member');?>">会员卡</a></li>
              </ul>
            </div>
            <div class="per-nav per-last">
              <h1>设置</h1>
              <ul>
                  <li><a href="<?=site_url('welcome/userInfo');?>">个人信息</a></li>
                  <li><a href="<?=site_url('welcome/address');?>">收货地址</a></li>
              </ul>
            </div>
          </div>
          <div class="per-pr">
              
              
              <!--  评价 -->
              <div class="appraise">
                  <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
                      <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="javascript: void(0)">我的评价</a></li>
                        <li><a href="javascript: void(0)">待评价</a></li>
                      </ul>

                      <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <table class="am-table am-table-striped am-table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 40%;">评价</th>
                                        <th style="width: 40%;">被评价人</th>
                                        <th style="width: 20%;">菜品信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>好评</td>
                                        <td><a href="javascript:;" class="lcolor">某某商家人</a></td>
                                        <td><a href="javascript:;" class="lcolor">尖椒回锅肉</a></td>
                                    </tr>
                                    <tr>
                                        <td>好评</td>
                                        <td><a href="javascript:;" class="lcolor">某某商家人</a></td>
                                        <td><a href="javascript:;" class="lcolor">尖椒回锅肉</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="am-tab-panel">
                            <table class="am-table am-table-striped am-table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50%;">菜品信息</th>
                                        <th style="width: 30%;">金额</th>
                                        <th style="width: 20%;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="javascript:;" class="lcolor">尖椒回锅肉</a></td>
                                        <td class="hcolor">￥30</td>
                                        <td class="wcolor"><a href="<?=site_url('welcome/orderaps');?>" class="am-btn am-btn-warning am-btn-xs am-radius">去评价</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:;" class="lcolor">尖椒回锅肉</a></td>
                                        <td class="hcolor">￥30</td>
                                        <td class="wcolor"><a href="<?=site_url('welcome/orderaps');?>" class="am-btn am-btn-warning am-btn-xs am-radius">去评价</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
              </div>
              <!-- 足迹 -->
              <div class="per-ctt">
                  <div class="crr-tit clear">
                    <ul>
                        <li class="active">美食足迹</li>
                    </ul>
                  </div>
                  <ul class="am-avg-sm-4 footmarks">
                      <li>
                        <a href="<?=site_url('welcome/info');?>">
                          <div class="footmark">
                          
                              <img src="skin/img/orderimg_03.png">
                              <h2>回锅肉</h2>
                              <span class="index-num"><i></i></span>

                          </div>
                        </a>
                      </li>
                      <li>
                        
                        <a href="<?=site_url('welcome/info');?>">
                          <div class="footmark">
                          
                              <img src="skin/img/orderimg_03.png">
                              <h2>回锅肉</h2>
                              <span class="index-num"><i></i></span>

                          </div>
                        </a>
                      </li>
                      <li>
                        
                        <a href="<?=site_url('welcome/info');?>">
                          <div class="footmark">
                          
                              <img src="skin/img/orderimg_03.png">
                              <h2>回锅肉</h2>
                              <span class="index-num"><i></i></span>

                          </div>
                        </a>
                      </li>
                      <li>
                        
                        <a href="<?=site_url('welcome/info');?>">
                          <div class="footmark">
                          
                              <img src="skin/img/orderimg_03.png">
                              <h2>回锅肉</h2>
                              <span class="index-num"><i></i></span>

                          </div>
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      </div>
  </div>

  <div class="footer">
    <div class="center">
      <ul class="am-avg-sm-4">
        <li>
          <h1>用户帮助</h1>
          <p><a href="javascript:;">服务中心</a></p>
          <p><a href="javascript:;">常见问题</a></p>
          <p><a href="javascript:;">在线客服</a></p>
        </li>
        <li>
          <h1>商务合作</h1>
          <p><a href="javascript:;">服务中心</a></p>
          <p><a href="javascript:;">常见问题</a></p>
          <p><a href="javascript:;">在线客服</a></p>
        </li>
        <li>
          <h1>关于我们</h1>
          <p><a href="javascript:;">服务中心</a></p>
          <p><a href="javascript:;">常见问题</a></p>
          <p><a href="javascript:;">在线客服</a></p>
        </li>
        <li>
          <div class="erweima">
            <img src="skin/img/erweima.png">
            <h2> 下载手机版</h2>
            <span> 手机订餐方便</span>
          </div>
        </li>
      </ul>
      <p class="footer-btm">&copy; 2012 成都可人软件有限公司&nbsp;&nbsp;&nbsp;蜀ICP备12007958号-1&nbsp;&nbsp;&nbsp;Powered By DeepTime</p>
    </div>
  </div>

<script src="skin/js/jquery.min.js"></script>
<script src="skin/js/amazeui.min.js"></script>
</body>
</html>