<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>大厨大家</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<base href="<?php echo base_url();?>application/" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="icon" type="image/png" href="skin/img/LOGO-ug_03.png">
		<link rel="stylesheet" href="skin/css/amazeui.min.css">
		<link rel="stylesheet" type="text/css" href="skin/css/home.css">
	</head>
	<body>
		<div class="header">
			<div class="center">
				<ul class="clear">
					<li><a href="<?=site_url('welcome/home');?>">首页</a></li>
					<li><a href="<?=site_url('welcome/personal');?>">我的订单</a></li>
					<li><a href="<?=site_url('welcome/recommend');?>">我的大厨</a></li>
					<li><a href="<?=site_url('welcome/help');?>">联系我们</a></li>
					<li><a href="<?=site_url('welcome/car');?>">购物篮</a></li>
					<li><a href="<?=site_url('welcome/login');?>">登录</a>/<a href="<?=site_url('welcome/register');?>">注册</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="content-tit">
				<div class="center">
					<!-- 指引 -->
							<ol class="am-breadcrumb am-margin-bottom-0">
          <li><a href="<?=site_url('welcome/home');?>">首页</a></li>
          <li class="am-active">庆典</li>
        </ol>
        <ul class="clear">
                <li><a href="<?=site_url('welcome/add');?>">点菜</a></li>
                <li><a href="<?=site_url('welcome/custom');?>">宴席</a></li>
                <li><a href="<?=site_url('welcome/vegetable');?>">净菜</a></li>
                <li class="active"><a href="javascript:;">特色服务 <i class="am-icon-sort-desc"></i></a>
                  <div class="subMenu">
                    <a href="<?=site_url('welcome/service');?>" title="">服务</a>
                    <a href="<?=site_url('welcome/elegance');?>" title="">伴餐</a>
                    <a class="active" href="<?=site_url('welcome/ceremonyType');?>" title="">庆典</a>
                    <a href="<?=site_url('welcome/price');?>" title="">菜价</a>
                  </div>
                </li>
        </ul>
			</div>
		</div>
		<div class="center">
			<div class="elegance">
				<div class="am-g">
					<div class="am-u-sm-6">
						<figure class="CmType am-shadow">
							<a href="<?=site_url('welcome/Ceremony');?>">
								<img src="skin/img/cm1.png">
								<figcaption>紫色梦幻<span class="red am-icon-cny fr">5888</span></figcaption>
							</a>
						</figure>
					</div>
					<div class="am-u-sm-6">
						<figure class="CmType am-shadow">
							<a href="<?=site_url('welcome/Ceremony');?>">
								<img src="skin/img/cm2.png">
								<figcaption>紫色梦幻<span class="red am-icon-cny fr">5888</span></figcaption>
							</a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="center">
			<ul class="am-avg-sm-4">
				<li>
					<h1>用户帮助</h1>
					<p><a href="javascript:;">服务中心</a></p>
					<p><a href="javascript:;">常见问题</a></p>
					<p><a href="javascript:;">在线客服</a></p>
				</li>
				<li>
					<h1>商务合作</h1>
					<p><a href="javascript:;">服务中心</a></p>
					<p><a href="javascript:;">常见问题</a></p>
					<p><a href="javascript:;">在线客服</a></p>
				</li>
				<li>
					<h1>关于我们</h1>
					<p><a href="javascript:;">服务中心</a></p>
					<p><a href="javascript:;">常见问题</a></p>
					<p><a href="javascript:;">在线客服</a></p>
				</li>
				<li>
					<div class="erweima">
						<img src="skin/img/erweima.png">
						<h2> 下载手机版</h2>
						<span> 手机订餐方便</span>
					</div>
				</li>
			</ul>
			<p class="footer-btm">&copy; 2012 成都可人软件有限公司&nbsp;&nbsp;&nbsp;蜀ICP备12007958号-1&nbsp;&nbsp;&nbsp;Powered By DeepTime</p>
		</div>
	</div>
	<script src="skin/js/jquery.min.js"></script>
	<script src="skin/js/amazeui.min.js"></script>
</body>
</html>