<!DOCTYPE html>
<html>
<head>
	<title>大厨到家-点餐</title>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<base href="<?php echo base_url();?>application/" />
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- <link rel="icon" type="image/png" href="assets/i/favicon.png"> -->
    <link rel="stylesheet" href="skin/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="skin/css/home.css">

</head>
<body class="bgcolor">
	<div class="header">
		<div class="center">
			<ul class="clear">
				<li><a href="<?=site_url('welcome/personal');?>">我的订单</a></li>
				<li><a href="<?=site_url('welcome/personal');?>">我的大厨</a></li>
				<li><a href="<?=site_url('welcome/personal');?>">最近浏览</a></li>
				<li><a href="<?=site_url('welcome/car');?>">购物篮</a></li>
				<li><a href="<?=site_url('welcome/login');?>">登录</a>/<a href="<?=site_url('welcome/register');?>">注册</a></li>
			</ul>
		</div>
	</div>
	<div class="content">
	<div class="content-tit">
		<div class="center clear">
				<ul class="clear">
					<li class="active"><a href="<?=site_url('welcome/add');?>">所有商品</a></li>
		            <li><a href="javascript:;">宴会定制</a></li>
		            <li><a href="javascript:;">实时菜价</a></li>
				</ul>
			</div>
		</div>
		<div class="center">
			
			<div class="content-nav">
				<nav class="scrollspy-nav" data-am-scrollspy-nav="{offsetTop: 45}" data-am-sticky>
				<ul class="clear">
					<li><a class="active" href="#cold">凉菜</a></li>
					<li><a href="#hot">热菜</a></li>
					<li><a href="#soup">汤</a></li>
					<li><a href="#snack">小吃</a></li>
					<li><a href="#ycb">燕鲍翅</a></li>
					<li><a href="#seafood">海河鲜</a></li>
					<li><a href="#meal">套餐</a></li>
					<li><a href="#diy">DIY</a></li>
				</ul>
				</nav>
			</div>
			<div class="order-goods">
				<h2 id="cold">凉菜</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h2 id="hot">热菜</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<h2 id="soup">汤</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h2 id="snack">小吃</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h2 id="ycb">燕翅鲍</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h2 id="seafood">海河鲜</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<h2 id="meal">套餐</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<h2 id="diy">DIY</h2>
				<ul class="am-avg-sm-2">
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="order-goods">
							<img src="skin/img/orderimg_03.png">
							<div class="goods-info">
								<h1><a href="<?=site_url('welcome/info');?>">回锅肉</a></h1>
								<p>推荐指数 <span class="index-num"><i></i></span></p>
								<div class="goods-price clear">
									<div class="goods-pl">
										<p><span>4.5</span> 评分</p>
										<div>价格： ￥<span>30.00</span></div>
									</div>
									<div class="goods-pr">
										<a href="javascript:;">加入购物车</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="center">
			<ul class="am-avg-sm-4">
				<li>
					<h1>用户帮助</h1>
					<p><a href="javascript:;">服务中心</a></p>
					<p><a href="javascript:;">常见问题</a></p>
					<p><a href="javascript:;">在线客服</a></p>
				</li>
				<li>
					<h1>商务合作</h1>
					<p><a href="javascript:;">服务中心</a></p>
					<p><a href="javascript:;">常见问题</a></p>
					<p><a href="javascript:;">在线客服</a></p>
				</li>
				<li>
					<h1>关于我们</h1>
					<p><a href="javascript:;">服务中心</a></p>
					<p><a href="javascript:;">常见问题</a></p>
					<p><a href="javascript:;">在线客服</a></p>
				</li>
				<li>
					<div class="erweima">
						<img src="skin/img/erweima.png">
						<h2> 下载手机版</h2>
						<span> 手机订餐方便</span>
					</div>
				</li>
			</ul>
			<p class="footer-btm">DHFUEGQA UGR(JISFHOOOO</p>
		</div>
	</div>
	
    <script src="skin/js/jquery.min.js"></script>
    <script src="skin/js/amazeui.min.js"></script>
</body>
</html>