<!DOCTYPE html>
<html>
<head>
	<title>大厨到家-宴会定制</title>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="<?php echo base_url();?>application/" />
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- <link rel="icon" type="image/png" href="assets/i/favicon.png"> -->
    <link rel="stylesheet" href="skin/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="skin/css/home.css">
    <link rel="stylesheet" type="text/css" href="skin/css/custom.css">
</head>

<body>
<!-- header -->
<div class="header">
  <div class="center">
    <ul class="clear">
      <li><a href="<?=site_url('welcome/personal');?>">我的订单</a></li>
      <li><a href="<?=site_url('welcome/personal');?>">我的大厨</a></li>
      <li><a href="<?=site_url('welcome/personal');?>">最近浏览</a></li>
      <li><a href="<?=site_url('welcome/personal');?>">购物篮</a></li>
      <li><a href="<?=site_url('welcome/login');?>">登录</a>/<a href="<?=site_url('welcome/register');?>">注册</a></li>
    </ul>
  </div>
</div>
<!-- content -->
<div class="content">
	<!-- center -->
      <div class="center">
		<div class="content-tit clear">
          <ul class="clear">
            <li><a href="<?=site_url('welcome/add');?>">所有商品</a></li>
            <li><a href="<?=site_url('welcome/custom');?>">宴会定制</a></li>
            <li class="active"><a href="<?=site_url('welcome/price');?>">实时菜价</a></li>
          </ul>
        </div>
        <!-- 中间部分 -->
        <div class="c_middle"> 
        	<p class="market">菜市场</p>

        	<table id="market_list">
        	<tr class="market_list_first">
	        	<td>
	        		<select data-am-selected>
	        		  <option value="a">Apple</option>
	        		  <option value="b" selected>百变菜市场</option>
	        		  <option value="o">Orange</option>
	        		  <option value="m">Mango</option>
	        		</select>
	        	</td>
	        	<td>
	        		<select data-am-selected>
	        		  <option value="a">Apple</option>
	        		  <option value="b" selected>蔬菜</option>
	        		  <option value="o">Orange</option>
	        		  <option value="m">Mango</option>
	        		</select>
	        	</td>
	        	<td>
	        		<select data-am-selected>
	        		  <option value="a">Apple</option>
	        		  <option value="b" selected>2016-3-15</option>
	        		  <option value="o">Orange</option>
	        		  <option value="m">Mango</option>
	        		</select>
	        	</td>        	
        	</tr>
        	<tr>
	        	<td>菜名</td>
	        	<td>重量</td>
	        	<td>价格</td>
        	</tr>
        	<tr>
	        	<td><a href="<?=site_url('welcome/price');?>"></a>西兰花</td>
	        	<td>1Kg</td>
	        	<td class="price">￥5.5</td>
        	</tr>
        	<tr>
	        	<td>小青菜</td>
	        	<td>1Kg</td>
	        	<td class="price">￥5.5</td>
        	</tr>
        	<tr>
	        	<td>瘦肉(全瘦)</td>
	        	<td>1Kg</td>
	        	<td>￥5.5</td>
	        	</tr>
        	</table>
        </div>
        <!-- 中间部分结束 -->

      </div>
</div>

<!-- 底部 -->
<div class="footer">
    <div class="center">
      <ul class="am-avg-sm-4">
        <li>
          <h1>用户帮助</h1>
          <p><a href="#">服务中心</a></p>
          <p><a href="#">常见问题</a></p>
          <p><a href="#">在线客服</a></p>
        </li>
        <li>
          <h1>商务合作</h1>
          <p><a href="#">服务中心</a></p>
          <p><a href="#">常见问题</a></p>
          <p><a href="#">在线客服</a></p>
        </li>
        <li>
          <h1>关于我们</h1>
          <p><a href="#">服务中心</a></p>
          <p><a href="#">常见问题</a></p>
          <p><a href="#">在线客服</a></p>
        </li>
        <li>
          <div class="erweima">
            <img src="skin/img/erweima.png">
            <h2> 下载手机版</h2>
            <span> 手机订餐方便</span>
          </div>
        </li>
      </ul>
      <p class="footer-btm">DHFUEGQA UGR(JISFHOOOO</p>
    </div>
  </div>      
<script src="skin/js/jquery.min.js"></script>
<script src="skin/js/amazeui.min.js"></script>
</body>
</html>

